<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scotch Whisky Graph</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/map-icons.css" />
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container">
      <div id="whiskies" class="row">
        <h1>#1</h1>

        <div class="col-md-3 whiskies">
          <h4>#whiskies</h4>
          <select name="whiskies" class="data"></select>
        </div>

        <div class="col-md-6 flavour">
          <h4>#flavour</h4>
          <div class="data"></div>
        </div>

        <div class="col-md-3 similar">
          <h4>#similar</h4>
          <ul class="data"></ul>
        </div>

      </div>


      <div id="regions" class="row">
        <h1>#2</h1>

        <div class="col-md-3 regions">
          <h4>#regions</h4>
          <select name="regions" class="data"></select>
        </div>

        <div class="col-md-6 map">
          <h4>#whiskies</h4>
          <div id="map-canvas" style="height:400px;" class="data"></div>
        </div>

        <div class="col-md-3 similar">
          <h4>#similar</h4>
          <ul class="data"></ul>
        </div>
      </div>

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzkAD2pyofI4yTlsQ8cMkxEu2lRQOxhIg"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="js/map-icons.js"></script>
    <script src="js/coords-converter.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>