.container .data {
  margin-left: 0;
  padding-left: 10px;
}
.data > li:hover {
  cursor: pointer;
  background-color: #eee;
}
.marker-label,
.marker-icon {
  z-index: 99;
  position: absolute;
  display: block;
  margin-top: -22px;
  margin-left: -24px;
  width: 49px;
  height: 50px;
  font-size: 13px !important;
  text-align: center;
  color: #fff;
  white-space: nowrap;
}
#map-canvas {
  width: 100%;
  height: 400px;
  margin: 0; padding: 0;
}